@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aquamarine;
    font-family: "Roboto Mono", monospace;
}

.main {
    display: flex;
    flex-direction: column;
    width: 30rem;
    background-color: aqua;
    gap: 1rem;
    border: solid black 1px;
    border-radius: 30px;
    padding: 2%;
}

.main__funcoes {
    display: flex;
    justify-content: space-between;
    background-color: green;
}

.funcoes__buscar {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 50%;
    height: auto;
    background-color: chartreuse;
}

.buscar__texto {
    font-size: 0.8rem;
    font-weight: bold;
}

.funcoes__novo {
    color: blue;
    width: 30%;
    height: auto;
}

.lista__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 15px;
    gap: 1rem;
    background-color: lightcoral;
    gap: 0.2rem;
}

.item__linha1 {
    display: flex;
    /* justify-content: space-between; */
}

.linha1__id {
    margin-right: 5%;
}

.linha1__categoria {
    padding: 0.2rem;
    color: black;
    font-weight: bold;
    font-size: 0.8rem;
    background-color: rgb(248, 248, 119);
    border: solid black 1px;
    border-radius: 5px;
}

.linha1__esquerda {
    display: flex;
    width: 70%;
}

.linha1__sku {
    width: auto;
    height: auto;
}

.item__linha2 {
    display: flex;
}

.linha2__nome {
    width: 70%;
}

.item__funcoes {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.funcoes__editar {
    width: 20%;
    padding: 10px;
}

.funcoes__deletar {
    width: 20%;
    padding: 10px;
}
